<%- include('./utility/header.ejs') %>

    <title>
        <%= title %>
    </title>
    </head>

    <body>
        <%- include('./utility/navigation.ejs') %>
            <div class="pb-5"></div>
            <%  if ((memes.length < 1 && !user) || (memes.length < 1 && user)) {%>
                    <p>No memes found</p>
                    <% } else { memes.forEach(m=> { %>
                        <section class="meme_card pb-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <img class="img-fluid" src=<%=m.url %> alt=<%= m.name %>>
                                </div>
                                <% if (user) { %>

                                    <div class="col-md-4">
                                        <button class="btn btn-primary" type="button"
                                            onclick="open_new_window(`<%= m.id %>`)">Details</button>
                                    </div>

                                    <% } %>
                            </div>
                            <hr>
                        </section>
                        <% }) }%>

                            <%- include('./utility/footer.ejs') %>